<div class="commentevent">
  <div class="commenteventpic" style="background-image: url({{this.author.profile_pic}});background-size:cover; background-position: center"></div>
  <h5>{{this.author.username}}</h5>
  <p>{{this.text}}</p>
</div>

           
           