body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 100px;
}

#login, #signup{
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  background-color: rgb(219, 219, 219);
  border: 1px solid grey;
  border-radius: 20px;
 }