<header class="hero">
  <section class="hero-text">
    <h1>IKEIALA</h1>
    <h2>La agenda de las cosas que te importan</h2>
  </section>
  <section class="hero-img">
    <img src="../images/tiki.png">
  </section>
</header>