<header class="hero">
  <section class="hero-text">
    <h1>IKEIALA</h1>
    <h2>La agenda de las cosas que te importan</h2>
  </section>
  <section class="hero-img">
    <img src="../images/tiki.png">
  </section>
</header>
<div class="home-today">
  <h1>HOY | 15 DE MARZO DE 2019</h1>
  <div class="home-container">
    <div class="event-container">
      <h2 class="movies"> <i class="fas fa-film movies"> </i> ESTRENOS DE CINE</h2>
      <div class="img" style="background-image: url(https://image.tmdb.org/t/p/w1280/fZVqz9x53vap5QE6zleGwz3kjTQ.jpg); background-size: cover"></div>
      <h3 class="home-movietitle">El niño que pudo ser rey</h3>
      <p class="home-description">Alex es un niño británico de doce años cuyos problemas diarios pasan a un segundo plano cuando descubre la mítica espada Excalibur. Ahora, con la espada más poderosa de la historia en manos del estudiante más desvalido de Inglaterra, una aventura épica comienza toda vez que Alex y sus amigos tendrán que contener a una villana medieval de nombre Morgana, quien está empecinada en destruir el mundo.</p>
    </div>
    <div class="event-container">
    <h2 class="series"> <i class="fas fa-tv series"> </i> NUEVOS EPISODIOS DE SERIES</h2>
      <div class="img" style="background-image: url(https://image.tmdb.org/t/p/w1280/btwTe5cQbGWGOErBiRqnjNP9cJl.jpg); background-size: cover"></div>
      <h3 class="home-serietitle">American Gods</h3>
      <p class="home-description">Basada en la galardonada novela de fantasía del mismo nombre escrita por el autor Neil Gaiman, esta serie cuenta la historia de un misterioso expresidiario llamado Shadow Moon. Este hombre es liberado de prisión unos días antes de cumplir una sentencia de tres años por asaltar un banco. Shadow Moon, que espera con ansias reencontrarse con su amada esposa Laura, ve sus ilusiones aplastadas al enterarse de que esta ha muerto en un accidente de carretera. Tras salir de la cárcel, Shadow Moon se encuentra con un enigmático hombre que responde al nombre de 'Sr. Wednesday' y que parece saber más de lo que aparenta sobre su pasado. Después de proponerle que trabaje para él, juntos inician un viaje a través de los Estados Unidos en el que se encuentran con viejos dioses de numerosas mitologías que habitan sobre la Tierra, así como también con nuevos ídolos y figuras de culto contemporáneo (dinero, televisión, Internet...), pasando por un sinfín de elementos pertenecientes al folklore americano. Es en este viaje donde Shadow Moon se dará cuenta de que un enfrentamiento entre lso nuevos y viejos dioses es inevitable.</p>
    </div>    
    <div class="event-container">
    <h2 class="games"> <i class="fas fa-gamepad"> </i> LANZAMIENTO DE JUEGOS</h2>
      <div class="img" style="background-image: url(https://images.igdb.com/igdb/image/upload/t_original/sc5it5.jpg); background-size: cover"></div>
      <h3 class="home-gametitle">Mars Underground</h3>
      <p class="home-description">Mars Underground is an apocalyptic adventure where you relive the same day over and over. With each cycle new items can be picked up and topics unlocked.​ Explore the possibilities of this timeloop and uncover multiple endings.</p>
    </div>     
  </div>
 </div>

 <div class="home-today">
  <h1>PRÓXIMAMENTE</h1>
  <div class="home-container">
    <div class="event-container">
      <h2 class="movies"> <i class="fas fa-film movies"> </i> ESTRENOS DE CINE</h2>
      <div class="img" style="background-image: url(https://image.tmdb.org/t/p/w1280/9kFlEar8BwesM9DMsEw4KJOMuHp.jpg); background-size: cover; background-position: center"></div>
      <h3 class="home-movietitle">Dolor y Gloria</h3>
      <p class="home-description">"Dolor y Gloria" narra una serie de reencuentros de Salvador Mallo, un director de cine en su ocaso. Algunos de ellos físicos, otros recordados: su infancia en los años 60, el primer deseo, su primer amor adulto ya en el Madrid de los 80, la escritura como única terapia para olvidar lo inolvidable, el temprano descubrimiento del cine y el inconmensurable vacío ante la imposibilidad de seguir rodando. "Dolor y Gloria" habla de la creación, de la dificultad de separarla de la propia vida y de las pasiones que le dan sentido y esperanza. En la recuperación de su pasado, Salvador encuentra la necesidad urgente de narrarlo, y en esa necesidad, encuentra también su salvación.</p>
    </div>
    <div class="event-container">
    <h2 class="series"> <i class="fas fa-tv series"> </i> NUEVOS EPISODIOS DE SERIES</h2>
      <div class="img" style="background-image: url(https://image.tmdb.org/t/p/w1280/vxuoMW6YBt6UsxvMfRNwRl9LtWS.jpg); background-size: cover"></div>
      <h3 class="home-serietitle">The Walking Dead</h3>
      <p class="home-description">"The Walking Dead" está ambientada en un futuro apocalíptico con la Tierra devastada por el efecto de un cataclismo, que ha provocado la mutación en zombies de la mayor parte de los habitantes del planeta. La serie, explora las dificultades de los protagonistas para sobrevivir en un mundo poblado por el horror, así como las relaciones personales que se establecen entre ellos, en ocasiones también una amenaza para su supervivencia.</p>
    </div>    
    <div class="event-container">
    <h2 class="games"> <i class="fas fa-gamepad"> </i> LANZAMIENTO DE JUEGOS</h2>
      <div class="img" style="background-image: url(https://images.igdb.com/igdb/image/upload/t_original/qopawa3r6e5fwgqwm5bu.jpg); background-size: cover"></div>
      <h3 class="home-gametitle">Unravel Two</h3>
      <p class="home-description">Unravel two is the sequel to the 2015 puzzle platforming game Unravel. It was announced during E3 2018, that the game was actually already finished and available instantly! In the game there are two Yarny's (made out of yarn) which can be controlled by one player, though the game can also be played in co-op. Together the Yarny's explore area's and solve the puzzles within them.</p>
    </div>     
  </div>
 </div>