<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/day" method="post">
<label>Dime un día:
<input type="date" name="date" placeholder="YYYY/MM/DD">
</label>
<button type="submit" id="send-day">Enviar</button>
</form>