<div class="mw-parser-output"><div class="floatright"><a href="/wiki/Archivo:RMS_Titanic_sea_trials_April_2,_1912.jpg" class="image" title="RMS Titanic"><img alt="RMS Titanic" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/RMS_Titanic_sea_trials_April_2%2C_1912.jpg/120px-RMS_Titanic_sea_trials_April_2%2C_1912.jpg" decoding="async" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/RMS_Titanic_sea_trials_April_2%2C_1912.jpg/180px-RMS_Titanic_sea_trials_April_2%2C_1912.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3c/RMS_Titanic_sea_trials_April_2%2C_1912.jpg/240px-RMS_Titanic_sea_trials_April_2%2C_1912.jpg 2x" data-file-width="1393" data-file-height="1050" /></a></div>
<ul><li><b><a href="/wiki/1452" title="1452">1452</a></b>.— Nace <b><a href="/wiki/Leonardo_da_Vinci" title="Leonardo da Vinci">Leonardo da Vinci</a></b>, <a href="/wiki/Pintor" title="Pintor">pintor</a>, <a href="/wiki/Cient%C3%ADfico" title="Científico">científico</a>, <a href="/wiki/Inventor" title="Inventor">inventor</a> y <a href="/wiki/Filosof%C3%ADa" title="Filosofía">filósofo</a> <a href="/wiki/Rep%C3%BAblica_de_Florencia" title="República de Florencia">florentino</a>.</li>
<li><b><a href="/wiki/1638" title="1638">1638</a></b>.— Una rebelión de campesinos <a href="/wiki/Kirishitan" title="Kirishitan">católicos japoneses</a> en <a href="/wiki/Shimabara" title="Shimabara">Shimabara</a> sobre el aumento de impuestos fue <b><a href="/wiki/Rebeli%C3%B3n_Shimabara" class="mw-redirect" title="Rebelión Shimabara">sofocada</a></b> por el <a href="/wiki/Shogunato_Tokugawa" title="Shogunato Tokugawa">Shogunato Tokugawa</a>, lo que resultó en una mayor aplicación de la política de <a href="/wiki/Sakoku" title="Sakoku">aislamiento japonés</a>.</li>
<li><b><a href="/wiki/1809" title="1809">1809</a></b>.— Nace <b><a href="/wiki/Hermann_Grassmann" title="Hermann Grassmann">Hermann Grassmann</a></b>, <a href="/wiki/Ling%C3%BC%C3%ADstica" title="Lingüística">lingüista</a>, <a href="/wiki/F%C3%ADsica" title="Física">físico</a>, <a href="/wiki/Humanismo" title="Humanismo">humanista</a> y <a href="/wiki/Matem%C3%A1ticas" title="Matemáticas">matemático</a> <a href="/wiki/Alemania" title="Alemania">alemán</a>.</li>
<li><b><a href="/wiki/1865" title="1865">1865</a></b>.— El <a href="/wiki/Presidente_de_los_Estados_Unidos" title="Presidente de los Estados Unidos">presidente de los Estados Unidos</a>,
<b><a href="/wiki/Abraham_Lincoln" title="Abraham Lincoln">Abraham Lincoln</a></b>, muere tras haber sido <a href="/wiki/Asesinato_de_Abraham_Lincoln" title="Asesinato de Abraham Lincoln">disparado</a> por <a href="/wiki/John_Wilkes_Booth" title="John Wilkes Booth">John Wilkes Booth</a>.</li>
<li><b><a href="/wiki/1912" title="1912">1912</a></b>.— El barco más lujoso del mundo en su momento, <b><a href="/wiki/RMS_Titanic" title="RMS Titanic">RMS Titanic</a></b> (<i>en la imagen</i>), se <a href="/wiki/Hundimiento_del_Titanic" class="mw-redirect" title="Hundimiento del Titanic">hunde</a> tras chocar contra un <a href="/wiki/Iceberg" title="Iceberg">iceberg</a>.</li>
<li><b><a href="/wiki/1938" title="1938">1938</a></b>.— Fallece <b><a href="/wiki/C%C3%A9sar_Vallejo" title="César Vallejo">César Vallejo</a></b>, <a href="/wiki/Escritor" title="Escritor">escritor</a> y <a href="/wiki/Poeta" title="Poeta">poeta</a> <a href="/wiki/Per%C3%BA" title="Perú">peruano</a>.</li></ul>

<!--
NewPP limit report
Parsed by mw1261
Cached time: 20190228192518
Cache expiry: 2592000
Dynamic content: false
CPU time usage: 0.008 seconds
Real time usage: 0.014 seconds
Preprocessor visited node count: 1/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 1/40
Expensive parser function count: 0/500
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
Number of Wikibase entities loaded: 0/400
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 -total
-->

<!-- Saved in parser cache with key eswiki:pcache:idhash:1207098-0!canonical and timestamp 20190228192518 and revision id 98369343
 -->
</div>