*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  min-height: 100vh;
  overflow-x: hidden;
}
