*,
*:before,
*:after {
    box-sizing: border-box;
}


// Styles to discard:
body {
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

a {
  color: #00B7FF;
}

#login, #signup{
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  background-color: rgb(219, 219, 219);
  border: 1px solid grey;
  border-radius: 20px;
 }
