// ----------
// COLORS
// ----------

// Global
$purple: #778beb;
$yellow: #f7d794;
$orange: #e49141;

// Nav
$search-background-purple: #b1beff;
$search-text-purple: #c8d1ff;

// ----------
// TYPOGRAPHY
// ----------

