// ----------
// COLORS
// ----------

// Global
$purple: #778beb;
$yellow: #f7d794;
$orange: #e49141;

// Nav
$search-background-purple: #b1beff;
$search-text-purple: #c8d1ff;

// ----------
// TYPOGRAPHY
// ----------

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
// @import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');



