@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  min-height: 100vh;
  overflow-x: hidden; }

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #778beb;
  padding: 20px;
  position: fixed;
  z-index: 400; }

.search {
  width: 40%; }

.menu {
  width: 20%; }

.menu a {
  color: #c8d1ff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px; }

.menu a:hover {
  color: #b1beff; }

form.search-form input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #778beb;
  float: left;
  width: 80%;
  background: #b1beff;
  border-radius: 10px;
  color: #c8d1ff; }

#send-day {
  float: left;
  width: 5%;
  padding: 10px;
  background: #778beb;
  color: #c8d1ff;
  font-size: 17px;
  border: 1px solid #778beb;
  border-radius: 50px;
  border-left: none;
  cursor: pointer; }

#search-year-date-input::placeholder {
  color: #c8d1ff;
  font-size: 17px; }

form.search-form::after {
  content: "";
  clear: both;
  display: table; }

#v-cal {
  display: none;
  width: 40% !important;
  position: absolute;
  top: 63px;
  left: 25px;
  z-index: 100; }

.fix {
  height: 80px; }

.hero {
  width: 100%;
  max-height: 60vh;
  display: flex;
  justify-content: space-between;
  background-color: #f7d794;
  overflow-y: show; }

.hero-text {
  align-self: center;
  max-width: 60%;
  padding: 50px;
  margin-left: 50px; }

.hero-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 150px;
  color: #e49141;
  text-shadow: 0px 4px 2px #F3C25B; }

.hero-text h2 {
  font-family: 'Indie Flower', cursive;
  margin-left: 75px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #778beb; }

.hero-img {
  top: 0;
  width: 40%;
  min-width: 300px; }

.hero-img img {
  object-fit: contain;
  height: 120%; }

.home-today {
  width: 90%;
  margin: 40px auto; }
  .home-today h1 {
    font-size: 2.5em;
    margin-bottom: 15px; }
  .home-today h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
    text-align: left;
    border-bottom: 2px solid; }
  .home-today h3 {
    font-size: 1.5em;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700; }

.home-container {
  display: flex;
  justify-content: space-between; }
  .home-container .img {
    width: 100%;
    height: 300px;
    border-radius: 10px; }
  .home-container .home-movietitle {
    color: #00cec9; }
  .home-container .home-serietitle {
    color: #d63031; }
  .home-container .home-gametitle {
    color: #0984e3; }

.event-container {
  width: 33%;
  padding: 10px; }

.home-description {
  max-height: 5.2em;
  overflow: hidden;
  transition: all 1s ease; }

.home-description:hover {
  max-height: 300px; }

.day-hero {
  width: 100%;
  background-color: #f7d794;
  margin-bottom: 10px; }

.day-hero-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  color: #e49141;
  text-shadow: 0px 4px 2px #F3C25B;
  display: inline-block;
  margin-top: 10px;
  margin: 15px 0px 10px 20px; }

.day-hero-text h2 {
  font-family: 'Indie Flower', cursive;
  margin-left: 25px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #778beb;
  font-size: 1.5em;
  display: inline-block; }

.sections ul {
  display: flex;
  list-style-type: none; }

.sections a {
  text-decoration: none;
  margin-left: 25px;
  font-size: 0.85em; }

.day {
  width: 80%;
  margin: 50px auto; }

.container {
  display: flex;
  flex-wrap: wrap; }

.container-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.container, .container-row {
  margin-bottom: 20px; }

.day img {
  object-fit: cover;
  width: 100%;
  max-height: 300px; }

.day h2 {
  margin: 10px;
  font-size: 1.8em;
  border-bottom: 2px solid; }

h2.movies {
  border-color: #00cec9;
  width: 100%; }

h3.movies {
  color: #00cec9; }

i.movies {
  color: #00cec9; }

h2.series {
  border-color: #d63031;
  width: 100%; }

h3.series {
  color: #d63031; }

i.series {
  color: #d63031; }

h2.games {
  width: 100%;
  border-color: #0984e3; }

h3.games {
  color: #0984e3; }

i.games {
  color: #0984e3; }

.partial {
  width: 33%;
  padding: 10px; }

.partial-game {
  width: 100%; }

.partial h3 {
  font-size: 1.5em;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700; }

.partial p {
  padding: 5px;
  margin-bottom: 10px;
  max-height: 8em;
  overflow-y: hidden;
  position: relative;
  transition: all 1s ease; }

.partial p:after {
  content: "...";
  color: black;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: .5rem;
  background: white; }

.partial p:hover {
  max-height: 500px; }
  .partial p:hover:after {
    display: none; }

.partial button {
  background-color: white;
  border: 1px solid white;
  color: #778beb; }

.partial button:hover {
  color: #e49141; }

.partial a {
  font-size: 0.7em;
  text-decoration: none;
  color: white;
  background-color: #e49141;
  padding: 2px 8px; }

.main-boxes {
  display: flex;
  margin-bottom: 20px; }

.main-boxes h2 {
  font-size: 1.6em; }

.container-tuits {
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: #dff9fb;
  border: 1px solid #dff9fb;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

.container-tuits ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 auto;
  width: 80%; }

.container-tuits li {
  text-align: center;
  width: 50%; }

.container-tuits li a {
  font-size: 0.9em;
  text-decoration: none;
  color: #778beb; }

.container-tuits li a:hover {
  color: #b1beff; }

.container-tuits p {
  margin: 20px 0; }

h2.tuits {
  border-color: #30336b;
  width: 100%; }

i.tuits {
  color: #30336b; }

.container-wiki {
  width: 65%;
  display: flex;
  background-color: #dfe6e9;
  border: 1px solid #dfe6e9;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

.container-wiki h2 {
  width: 80%;
  margin-bottom: 20px; }

.container-wiki img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px; }

.container-wiki ul {
  margin: 20px 0; }

.container-wiki li {
  padding: 5px;
  margin: 10px 0; }

.container-wiki strong {
  font-weight: 700;
  color: #3c6382; }

.container-wiki a {
  margin-left: 10px;
  font-size: 0.7em;
  text-decoration: none;
  color: white;
  background-color: #778beb;
  padding: 2px 8px; }

h2.wiki {
  border-color: #3c6382; }

i.wiki {
  color: #3c6382; }

.fa-check-circle {
  color: #00b894; }

.add {
  max-width: 250px; }

.commentlist {
  color: #778beb;
  margin-top: 70px;
  margin-left: 90px;
  font-weight: 700; }

.addcommentlist {
  color: #778beb;
  margin-top: 40px;
  margin-left: 90px;
  font-weight: 700; }

#textcomment {
  margin-left: 82px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid #adadad; }

#textcomment:hover {
  border: 2px solid #778beb; }

.addcommentbut {
  width: 120px;
  height: 30px;
  background-color: #778beb;
  border-radius: 7px;
  color: #c8d1ff;
  border: none;
  margin-left: 82px;
  margin-top: 5px; }

.usercontainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80%;
  margin-bottom: 100px;
  z-index: 100; }
  .usercontainer h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    color: #778beb;
    margin-top: 60px; }
  .usercontainer h2 {
    font-size: 1em;
    color: #778beb;
    font-weight: bolder; }
  .usercontainer h3 {
    font-size: 1.5em;
    font-weight: bolder;
    color: #1e1e1e; }
  .usercontainer img {
    width: 50px; }

.useragenda {
  width: 66%;
  padding: 20px 200px 0 50px;
  border-right: solid 30px #b1beff;
  z-index: 200; }

.agendaevent {
  z-index: 300;
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all .2s ease-in;
  padding: .7rem; }
  .agendaevent:hover {
    transform: translateY(-2px); }

.agendaeventpic {
  position: absolute;
  transform: translateX(-80px);
  width: 60px;
  height: 60px;
  border-radius: 40px; }

.userprofile {
  width: 34%;
  padding: 0 100px; }

.usercontent {
  position: relative;
  margin: 80px 0; }
  .usercontent h1 {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 3em;
    color: #778beb;
    padding-bottom: 10px;
    font-weight: bolder; }
  .usercontent h2 {
    font-size: 1.3em;
    color: #778beb;
    padding-top: 80px;
    font-weight: bolder; }
  .usercontent .commentdate {
    font-size: .8em;
    color: #e49141;
    text-decoration: none; }

.usercomment {
  margin-top: 10px;
  padding: 10px; }

.userpic {
  position: absolute;
  top: 0;
  transform: translateX(-185px);
  width: 140px;
  height: 140px;
  border-radius: 70px;
  z-index: 200;
  border: 8px solid #778beb; }

.agendadescription {
  max-height: 1.2em;
  overflow: hidden;
  transition: all 1s ease; }

.agendadescription:hover {
  max-height: 300px; }

.orangeline {
  height: 1px;
  background: rgba(0, 0, 0, 0.1); }

.usergamebut {
  display: inline-block;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  background-color: #e49141;
  border-radius: 2px;
  color: white;
  padding: 0 5px; }

.eventtitles {
  margin-top: 30px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 100 !important; }

.movietitle {
  color: #e49141 !important; }

.serietitle {
  color: #778beb !important; }

.usermovies {
  background-color: rgba(250, 231, 190, 0.3); }

.userseries {
  background-color: rgba(189, 177, 255, 0.193); }

.usergames {
  background-color: rgba(252, 184, 157, 0.127); }

footer {
  width: 100%;
  padding: 20px;
  background-color: #778beb;
  color: #c8d1ff; }

footer .fas {
  color: #f78fb3; }

footer a {
  color: #fff;
  text-decoration: none; }

footer a:hover {
  color: #f7d794; }

.commentevent {
  position: relative;
  margin: 10px 0  5px 80px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: .7rem;
  width: 50%; }
  .commentevent h5 {
    color: #e49141; }

.commenteventpic {
  position: absolute;
  transform: translateX(-80px);
  width: 50px;
  height: 50px;
  border-radius: 25px; }

:root {
  --vcal-bg-color: #fff;
  --vcal-border-radius: 0;
  --vcal-border-color: #c8d1ff;
  --vcal-today-bg-color: #778beb;
  --vcal-today-color: #fff;
  --vcal-selected-bg-color: #c8d1ff;
  --vcal-selected-color: #333; }

#v-cal *, #v-cal *:before, #v-cal *:after {
  box-sizing: border-box; }

#v-cal {
  background-color: var(--vcal-bg-color);
  border-radius: var(--vcal-border-radius);
  border: solid 1px var(--vcal-border-color);
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  overflow: hidden;
  width: 100%; }

#v-cal .vcal-btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  min-width: 27px;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: center; }
  #v-cal .vcal-btn:active {
    border-radius: var(--vcal-border-radius);
    box-shadow: 0 0 0 2px rgba(var(--vcal-today-bg-color), 0.1); }

#v-cal .vcal-header {
  align-items: center;
  display: flex;
  padding: 1.2rem 1.4rem; }

#v-cal .vcal-header svg {
  fill: var(--vcal-today-bg-color); }

#v-cal .vcal-header__label {
  font-weight: bold;
  text-align: center;
  width: 100%; }

#v-cal .vcal-week {
  background-color: var(--vcal-selected-bg-color);
  display: flex;
  flex-wrap: wrap; }

#v-cal .vcal-week span {
  flex-direction: column;
  flex: 0 0 14.28%;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 14.28%;
  padding: 1.2rem 1.4rem;
  text-align: center;
  text-transform: uppercase; }

#v-cal .vcal-body {
  background-color: rgba(var(--vcal-selected-bg-color), 0.3);
  display: flex;
  flex-wrap: wrap; }

#v-cal .vcal-date {
  align-items: center;
  background-color: #fff;
  border-radius: var(--vcal-border-radius);
  display: flex;
  flex-direction: column;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  padding: 1.2rem 0; }

#v-cal .vcal-date--active {
  cursor: pointer; }

#v-cal .vcal-date--today {
  background-color: #fff;
  color: #333; }

#v-cal .vcal-date--selected {
  background-color: var(--vcal-today-bg-color);
  color: var(--vcal-today-color); }

#v-cal .vcal-date--disabled {
  border-radius: 0;
  cursor: not-allowed;
  opacity: 0.5; }

#shadowed {
  display: none;
  height: 350vh;
  width: 350vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute; }

.form-container input::placeholder {
  color: white; }

.form-container {
  display: none;
  height: 300px;
  width: 500px;
  background-color: #778beb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 5px 5px #111;
  z-index: 2; }

@media only screen and (max-width: 600px) {
  .container {
    zoom: 0.7;
    -moz-transform: scale(0.7); } }

.l-overlay {
  height: 300px;
  width: 600px;
  background-color: #f7d794;
  transform: rotate(-31deg) translate(-660px, -184px);
  position: absolute;
  transition: transform 0.4s ease-in-out; }

.tri-l {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-bottom: solid 30px #f7d794;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  transform: rotate(90deg);
  position: absolute; }

.tri-l1 {
  right: -59px;
  top: 5px; }

.tri-l2 {
  right: -59px;
  top: 65px; }

.tri-l3 {
  right: -59px;
  top: 124px; }

.tri-l4 {
  right: -59px;
  top: 185px; }

.tri-l5 {
  right: -59px;
  top: 245px; }

.r-overlay {
  height: 300px;
  width: 600px;
  background-color: #f7d794;
  transform: rotate(-31deg) translate(-50px, 116px);
  position: absolute;
  transition: transform 0.4s ease-in-out; }

.tri-r {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-bottom: solid 30px #f7d794;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  transform: rotate(90deg);
  position: absolute; }

.tri-r1 {
  right: -59px;
  top: 5px; }

.tri-r2 {
  right: -59px;
  top: 65px; }

.tri-r3 {
  right: -59px;
  top: 124px; }

.tri-r4 {
  right: -59px;
  top: 185px; }

.tri-r5 {
  right: -59px;
  top: 245px; }

.r-btn, .l-btn {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding-bottom: 1px;
  position: absolute;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

.r-btn {
  bottom: 50px;
  right: 50px;
  display: block; }

.l-btn {
  top: 50px;
  left: 50px;
  display: none; }

*:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

.l-form {
  position: absolute;
  left: 30px;
  top: 40px; }

.l-form input {
  display: list-item;
  border: 3px solid #f7d794;
  background-color: transparent;
  border-radius: 50px;
  height: 30px;
  margin-bottom: 5px;
  color: white;
  padding: 0 10px 0 10px;
  box-shadow: 2px 5px #222; }

.l-form label {
  color: white; }

.l-usr {
  position: absolute; }

.l-pass .pass {
  height: 30px;
  width: 190px !important; }

.l-pass {
  position: absolute;
  top: 50px; }

.l-go {
  background-color: #f7d794;
  border: none;
  border-radius: 50px;
  width: 160px;
  height: 30px;
  position: absolute;
  top: 105px;
  color: #778beb;
  box-shadow: 2px 5px #222; }

.r-form {
  position: absolute;
  right: 175px;
  bottom: 190px; }

.r-form input {
  display: list-item;
  border: 3px solid #f7d794;
  background-color: transparent;
  border-radius: 50px;
  height: 30px;
  margin-bottom: 5px;
  color: white;
  padding: 0 10px 0 10px;
  width: 150px;
  box-shadow: 2px 5px #222; }

.r-form label {
  color: white; }

.r-1 {
  position: absolute;
  width: 150px !important; }

.r-2 {
  position: absolute;
  top: 40px;
  right: -150px;
  width: 200px !important; }

.r-3 {
  position: absolute;
  top: 80px;
  right: -150px;
  width: 200px !important; }

.r-4 {
  position: absolute;
  top: 120px;
  right: -150px;
  width: 200px !important;
  margin-top: 3px !important; }

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1000; }

.inputfile + label {
  height: 30px;
  font: 400 13.3333px Arial;
  border: 3px solid #f7d794;
  background-color: transparent;
  padding: 4px 20px 4px 10px;
  border-radius: 50px;
  color: white;
  box-shadow: 2px 5px #222;
  text-transform: uppercase;
  margin-bottom: 5px; }

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.r-5 {
  position: absolute;
  top: 140px;
  right: -200px;
  width: 200px !important; }

.r-go {
  background-color: #f7d794;
  border: none;
  border-radius: 50px;
  width: 160px;
  height: 20px;
  position: absolute;
  top: 160px;
  right: -150px;
  color: #778beb;
  box-shadow: 2px 5px #222; }

.l-disc {
  color: #fff;
  position: absolute;
  top: 25px;
  left: 50px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

.r-disc {
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 50px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

.pass-wrap {
  height: 30px;
  position: absolute; }

.pass {
  background-color: transparent;
  border: 3px solid #f7d794;
  border-radius: 50px;
  width: 180px;
  padding: 0 10px 0 10px;
  color: white; }

.pass-view {
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5px;
  bottom: 0; }

.camera-view {
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 7px;
  bottom: 4px; }

.pass-wrap i {
  color: #f7d794;
  position: absolute;
  right: 5px;
  top: 8px; }

.pass-wrap:hover i {
  color: #f7d794; }

.area {
  background: #222;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1; }

.tris {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.tris li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: solid 30px rgba(0, 0, 0, 0.5);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent; }

.tris li:nth-child(1) {
  left: 25%;
  zoom: 2;
  -moz-transform: scale(2);
  animation-delay: 0s; }

.tris li:nth-child(2) {
  left: 10%;
  zoom: 1.5;
  -moz-transform: scale(1.5);
  animation-delay: 2s;
  animation-duration: 12s; }

.tris li:nth-child(3) {
  left: 70%;
  zoom: 2;
  -moz-transform: scale(2);
  animation-delay: 4s; }

.tris li:nth-child(4) {
  left: 40%;
  zoom: 1.5;
  -moz-transform: scale(1.5);
  animation-delay: 0s;
  animation-duration: 18s; }

.tris li:nth-child(5) {
  left: 65%;
  zoom: 0.7;
  -moz-transform: scale(0.7);
  animation-delay: 0s; }

.tris li:nth-child(6) {
  left: 80%;
  zoom: 0.7;
  -moz-transform: scale(0.7);
  animation-delay: 3s; }

.tris li:nth-child(7) {
  left: 35%;
  zoom: 1.3;
  -moz-transform: scale(1.3);
  animation-delay: 7s; }

.tris li:nth-child(8) {
  left: 50%;
  zoom: 1.5;
  -moz-transform: scale(1.5);
  animation-delay: 15s;
  animation-duration: 45s; }

.tris li:nth-child(9) {
  left: 20%;
  zoom: 2;
  -moz-transform: scale(2);
  animation-delay: 2s;
  animation-duration: 35s; }

.tris li:nth-child(10) {
  left: 85%;
  zoom: 1.2;
  -moz-transform: scale(1.2);
  animation-delay: 0s;
  animation-duration: 11s; }

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0; } }

/*IGNORE THIS*/
*:focus {
  outline: none; }

#title-text {
  margin-bottom: 20px;
  color: #444;
  font-weight: bold;
  text-shadow: 2px 2px #111; }

#my-btn-contain {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
  z-index: 3; }

#more-btn {
  border: 1px solid #f7d794;
  background-color: #f7d794;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  color: #f7d794;
  display: inline;
  outline: none;
  box-shadow: 5px 5px #111;
  margin-right: 5px; }

#more-btn:hover {
  cursor: pointer;
  background-color: #f7d794;
  border: 1px solid #f7d794;
  color: #f7d794;
  box-shadow: 3px 3px #111;
  transition: 0.5s; }

.profile {
  color: #444;
  display: inline;
  font-weight: bold;
  font-size: 19px; }

.profile:hover {
  cursor: pointer;
  color: #778beb; }

/*DONT WORRY ABOUT THIS, I JUST LIKE TO ADD THIS FOR MY SAKE*/
/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer; }

/* Track */
::-webkit-scrollbar-track {
  background: #222; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
  cursor: pointer; }

/*
-
-
-
-
-
-
*/
/*NO SELECTION BACKGROUND HIGHLIGHT*/
::selection {
  background: #e49141; }

::-moz-selection {
  background: #e49141; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .menu {
    width: 30%; }
  .main-boxes {
    flex-direction: column; }
  .container-wiki {
    width: 100%;
    flex-direction: column; }
  .container-tuits {
    width: 100%;
    margin-left: 0px; }
  .container-wiki ul {
    width: 100%;
    padding: 0 20px; }
  .partial {
    width: 50%; }
  .partial-game {
    width: 100%; } }

@media only screen and (max-device-width: 768px) {
  .day {
    width: 80%;
    margin: 0 auto; }
  #textcomment {
    max-width: 200px; }
  .sections {
    display: none; }
  .menu {
    width: 40%; }
  .main-boxes {
    flex-direction: column; }
  .container-wiki {
    width: 100%;
    flex-direction: column; }
  .container-tuits {
    width: 100%;
    margin-left: 0px; }
  .container-wiki img {
    max-width: 200px; }
  .container-wiki ul {
    width: 100%;
    padding: 0 20px; }
  .container {
    flex-direction: column; }
  .partial {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */