.day {
  width: 80%;
  margin: 50px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.day img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.day h2 {
  margin: 10px;
  font-size: 1.8em;
  border-bottom: 2px solid;
}

h2.movies {
  border-color: #00cec9;
}

i.movies {
  color: #00cec9;
}

h2.series {
  border-color: #d63031;
}


i.series {
  color: #d63031;
}


.partial {
  width: 33%;
  padding: 10px;
}

.partial h3 {
  font-size: 1.5em;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: $purple;
}

.partial p {
  padding: 5px;
  margin-bottom: 10px;
  max-height: 8em;
  overflow-y: hidden;
  position: relative;
  transition: all 1s ease;
}

.partial p:after{
  content: "...";
  color: black;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: .5rem;
  background: white;
}

.partial p:hover{
  max-height: 500px;

  &:after {
    display: none;
  }
}

.partial button {
  background-color: white;
  border: 1px solid white;
  color: $purple;
}

.partial button:hover {
  color: $orange;
}

// .movies .partial {
  
// }
