.day-hero {
  width: 100%;
  background-color: $yellow;
  margin-bottom: 10px;
}

.day-hero-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  color: $orange;
  text-shadow: 0px 4px 2px #F3C25B;
  display:inline-block;
  margin-top: 10px;
  margin: 15px 0px 10px 20px;
}

.day-hero-text h2 {
  font-family: 'Indie Flower', cursive;
  margin-left: 25px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: $purple;
  font-size: 1.5em;
  display:inline-block;
}

.sections ul {
  display:flex;
  list-style-type: none;
}

.sections a {
  text-decoration: none;
  margin-left: 25px;
  font-size: 0.85em;
}

.day {
  width: 80%;
  margin: 50px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-row {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}

.container, .container-row {
  margin-bottom: 20px;
}

.day img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.day h2 {
  margin: 10px;
  font-size: 1.8em;
  border-bottom: 2px solid;
}

h2.movies {
  border-color: #00cec9;
  width: 100%;
}

h3.movies {
  color: #00cec9;
}

i.movies {
  color: #00cec9;
}

h2.series {
  border-color: #d63031;
  width: 100%;
}

h3.series {
  color: #d63031;
}

i.series {
  color: #d63031;
}

h2.games {
  width: 100%;
  border-color: #0984e3;
}

h3.games {
  color: #0984e3;
}

i.games {
  color: #0984e3;
}

.partial {
  width: 33%;
  padding: 10px;
}

.partial-game {
  width: 100%; 
}

.partial h3 {
  font-size: 1.5em;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.partial p {
  padding: 5px;
  margin-bottom: 10px;
  max-height: 8em;
  overflow-y: hidden;
  position: relative;
  transition: all 1s ease;
}

.partial p:after{
  content: "...";
  color: black;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: .5rem;
  background: white;
}

.partial p:hover{
  max-height: 500px;

  &:after {
    display: none;
  }
}

.partial button {
  background-color: white;
  border: 1px solid white;
  color: $purple;
}

.partial button:hover {
  color: $orange;
}

.partial a {
  font-size: 0.7em;
  text-decoration: none;
  color: white;
  background-color: $orange;
  padding: 2px 8px; 
}

.main-boxes {
  display:flex;
  margin-bottom: 20px;
}

.main-boxes h2 {
  font-size: 1.6em;
}

.container-tuits {
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: #dff9fb;
  border: 1px solid #dff9fb;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.container-tuits ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 auto;
  width: 80%;
}

.container-tuits li {
  text-align: center;
  width: 50%;
}

.container-tuits li a {
  font-size: 0.9em;
  text-decoration: none;
  color: $purple;
}

.container-tuits li a:hover {
  color: $search-background-purple;
}

.container-tuits p {
  margin: 20px 0;
}

h2.tuits {
  border-color: #30336b;
  width: 100%;
}

i.tuits {
  color: #30336b;
}

.container-wiki {
  width: 65%;
  display: flex;
  background-color: #dfe6e9;
  border: 1px solid #dfe6e9;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.container-wiki h2 {
  width: 80%;
  margin-bottom: 20px;
}

.container-wiki img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
}

.container-wiki ul {
  margin: 20px 0;
}

.container-wiki li {
  padding: 5px;
  margin: 10px 0;
}

.container-wiki strong {
  font-weight: 700;
  color: #3c6382;
}

.container-wiki a {
  margin-left: 10px;
  font-size: 0.7em;
  text-decoration: none;
  color: white;
  background-color: $purple;
  padding: 2px 8px; 
}

h2.wiki {
  border-color: #3c6382;
}

i.wiki {
  color: #3c6382;
}

.fa-check-circle {
  color: #00b894;
}

.add {
  max-width: 250px;
}