.day {
  width: 80%;
  margin: 50px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-row {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}

.container, .container-row {
  margin-bottom: 20px;
}

.day img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.day h2 {
  margin: 10px;
  font-size: 1.8em;
  border-bottom: 2px solid;
}

h2.movies {
  border-color: #00cec9;
  width: 100%;
}

h3.movies {
  color: #00cec9;
}

i.movies {
  color: #00cec9;
}

h2.series {
  border-color: #d63031;
  width: 100%;
}

h3.series {
  color: #d63031;
}

i.series {
  color: #d63031;
}

h2.games {
  width: 100%;
  border-color: #0984e3;
}

h3.games {
  color: #0984e3;
}

i.games {
  color: #0984e3;
}

.partial {
  width: 33%;
  padding: 10px;
}

.partial-game {
  width: 100%; 
}

.partial h3 {
  font-size: 1.5em;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.partial p {
  padding: 5px;
  margin-bottom: 10px;
  max-height: 8em;
  overflow-y: hidden;
  position: relative;
  transition: all 1s ease;
}

.partial p:after{
  content: "...";
  color: black;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: .5rem;
  background: white;
}

.partial p:hover{
  max-height: 500px;

  &:after {
    display: none;
  }
}

.partial button {
  background-color: white;
  border: 1px solid white;
  color: $purple;
}

.partial button:hover {
  color: $orange;
}

.partial a {
  font-size: 0.7em;
  text-decoration: none;
  color: white;
  background-color: $orange;
  padding: 2px 8px; 
}

.container-wiki {
  display: flex;
  flex-direction: row;
  background-color: #dfe6e9;
  border: 1px solid #dfe6e9;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}


.container-wiki h2 {
  width: 80%;
  margin-bottom: 20px;
}

.container-wiki img {
  width: 300px ;
  margin: 20px;
  border-radius: 20px;
}

.container-wiki ul {
  margin: 20px 0;
}

.container-wiki li {
  padding: 5px;
  margin: 10px 0;
}

.container-wiki strong {
  font-weight: 700;
  color: $purple;
}

.container-wiki a {
  margin-left: 10px;
  font-size: 0.7em;
  text-decoration: none;
  color: white;
  background-color: $orange;
  padding: 2px 8px; 
}

// <div class="container" id="#wiki">
//       <img src={{wiki.img}}>
//         <ul>
//           {{#each wiki.wikis}}
//           <li>{{this.year}}: {{this.description}}</li>
//           <p><a href={{this.link}}>Leer más</a></p>
//           {{/each}}
//         </ul>
//     </div>