.hero {
  width: 100%;
  max-height: 60vh;
  display: flex;
  justify-content: space-between;
  background-color: $yellow;
  overflow-y: show;
}

.hero-text {
  align-self: center;
  max-width: 60%;
  padding: 50px;
}

.hero-img {
  top: 0;
  width: 40%;
  min-width: 300px;
}

.hero-img img {
  max-width: 100%;
}