.hero {
  width: 100%;
  max-height: 60vh;
  display: flex;
  justify-content: space-between;
  background-color: $yellow;
  overflow-y: show;
}

.hero-text {
  align-self: center;
  max-width: 60%;
  padding: 50px;
  margin-left: 50px;
}

.hero-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 150px;
  color: $orange;
  text-shadow: 0px 4px 2px #F3C25B;
}

.hero-text h2 {
  font-family: 'Indie Flower', cursive;
  margin-left: 75px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: $purple;
}

.hero-img {
  top: 0;
  width: 40%;
  min-width: 300px;
}

.hero-img img {
  object-fit: contain;
  height: 120%;
}

.home-today{
  width: 90%;
  margin: 40px auto;

  h1{
    font-size: 2.8em;
    margin-bottom: 10px;
  }

  h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid;
  }

  h3{
    font-size: 1.5em;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }

}


.home-container{
  display: flex;
  justify-content: space-between;

  .img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }

  .home-movietitle{
    color:  #00cec9;
  }


  .home-serietitle{
    color: #d63031;
  }

  .home-gametitle{
    color: #0984e3;
  }
}

.event-container{
  width: 33%;
  padding: 10px;
}


.home-description{
  max-height: 5.2em;
  overflow: hidden;
  transition: all 1s ease;
}



.home-description:hover{
  max-height: 300px;
}

