.hero {
  width: 100%;
  max-height: 60vh;
  display: flex;
  justify-content: space-between;
  background-color: $yellow;
  overflow-y: show;
}

.hero-text {
  align-self: center;
  max-width: 60%;
  padding: 50px;
  margin-left: 50px;
}

.hero-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 150px;
  color: $orange;
  text-shadow: 0px 4px 2px #F3C25B;
}

.hero-text h2 {
  font-family: 'Indie Flower', cursive;
  margin-left: 75px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: $purple;
}

.hero-img {
  top: 0;
  width: 40%;
  min-width: 300px;
}

.hero-img img {
  object-fit: contain;
  height: 120%;
}