.usercontainer{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80%;

  h1{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    color: $orange;
  }

  h2{
    font-size: 1.4em;
  }

  h3{
    font-size: 1.8em;
  }
  
  img{
    width: 50px;
  }
}

.agendaevent{
  position: relative;
  margin: 20px 0;
}

.agendaeventpic{
  position: absolute;
  transform: translateX(-80px);
  width: 60px;
  height: 60px;
  border-radius: 40px;

}

.useragenda{
  width: 66%;
  padding: 50px 200px 0 50px;
  border-right: solid 30px $search-background-purple;
}

.userprofile{
  width: 34%;
  padding: 0 100px;
}


.usercontent{
  position: relative;
  margin: 80px 0;
  

  h1{
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 3em;
    color: $purple;
    padding-bottom: 10px;
    font-weight: bolder;
  }

  h2{
    font-size: 1.3em;
    color: $purple;
    padding-top: 80px;
    font-weight: bolder;
  }
}

.userpic{
  position: absolute;
  top: 0;
  transform: translateX(-175px);
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid $purple;

}